@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  background-color: white;
}

header {
  height: 300px;
}
header nav ul {
  list-style: none;
  overflow: hidden;
}
header nav ul li {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 16px;
  padding: 6px;
  color: white;
  background-color: #572EE5;
  text-align: center;
  margin: 20px 10px 20px 10px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  border-bottom: 1px white solid;
  padding: 10px 0px 10px 0px;
}

.logo {
  margin: 20px;
  width: 49px;
}

.menu-ul {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.menu-icon {
  margin: 15px;
  float: right;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.nav-icon {
  background: #572EE5;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.3s ease-out;
  width: 18px;
}

.nav-icon:before, .nav-icon:after {
  background: #572EE5;
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease-out;
  width: 100%;
}

.nav-icon:before {
  top: 5px;
}

.nav-icon:after {
  top: -5px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu .menu-ul {
  max-height: 240px;
  background-color: #572EE5;
}

.menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.crear {
  margin: 10px 10px 10px 10px;
  display: none;
}

.search-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

h1 {
  color: #572EE5;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 35px;
}

.gifos {
  color: #5ED7C6;
}

.search {
  background: url(../../images/icon-search.svg) no-repeat right 10px center;
  width: 300px;
  border-radius: 15px;
  border: 1px #572EE5 solid;
  height: 50px;
  color: black;
}


.trending-topics-header {
  color: #572EE5;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  margin-top: 60px;
  text-align: center;
}

.trending-topics {
  color: #572EE5;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-bottom: 100px;
}

.trending {
  background-color: #F3F5F8;
  height: 430px;
  width: 100%;
}

.trending-gifs-header {
  color: #572EE5;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
}

.trending-gifs-text {
  color: #000000;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.trending-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.trending-carrousel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.trending-gif {
  background-color: #572EE5;
  width: 243px;
  height: 187px;
  align-self: center;
  margin-top: 40px;
  z-index: 0;
  position: relative;
}

.overlay {
  background-color: #572EE5;
  width: 243px;
  height: 187px;
  align-self: center;
  margin-top: -190px;
  z-index: 100;
  position: relative;
  opacity: 0.7;
  display: none;
}

.favourite {
  z-index: 5;
  position: relative;
}

.download {
  z-index: 15;
  position: relative;
}

.max {
  z-index: 25;
  position: relative;
}

.icons {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -180px;
  margin-left: 130px;
  position: absolute;
  z-index: 50;
  cursor: pointer;
}

.popup {
  text-align: center;
  width: 100%;
  background: white;
  padding: 20px;
  position: relative;
}

.popup-close {
  color: #572EE5;
  font-family: "Montserrat";
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 30px;
}

.popup-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.pop-up-image {
  width: 50%;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.popup-footer {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.pop-up-icons {
  display: flex;
  flex-direction: row;
}

.pop-up-data {
  display: flex;
  flex-direction: column;
  justify-items: left;
  justify-content: left;
}

.searched-gif {
  width: 156px;
  height: 120px;
  align-self: center;
  position: relative;
  z-index: 0;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(2, [col] auto);
  grid-template-rows: repeat(6, [row] auto);
  justify-content: space-around;
  align-content: space-around;
}

.search-suggestions {
  color: #9CAFC3;
  font-family: "Roboto";
  text-align: left;
  width: 300px;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
}

.topic {
  margin-bottom: 20px;
}

.no-results {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no-results-title {
  font-family: "Montserrat";
  color: #572EE5;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 30px;
}

.no-results-text {
  font-family: "Montserrat";
  font-weight: bold;
  color: #5ED7C6;
  font-size: 22px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redes {
  color: black
}

.copyright{
  color: black
}

.redes {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-size: 13px;
  margin-left: 30px;
  margin-top: 10px;
}

.redes-icons {
  margin-top: 30px;
  margin-bottom: 30px;
}

.facebook {
  margin-left: 10px;
  margin-right: 10px;
}

.twitter {
  margin-left: 10px;
  margin-right: 10px;
}

.instagram {
  margin-left: 10px;
}

.copyright {
  font-family: "Roboto";
  font-size: 13px;
  margin-right: 30px;
}

.see-more-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-self: center;
}

.favourite-active {
  margin-top: 5px;
}

.favorites-section {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 0px;
}

.favoritos-title {
  color: #572EE5;
  font-family: "Montserrat";
  font-weight: bold;
}

.favourites-carrousel {
  display: grid;
  grid-template-columns: repeat(2, [col] auto);
  grid-template-rows: repeat(6, [row] auto);
  justify-content: space-around;
  align-content: space-around;
}

.empty-fav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 70px;
}

.empty-message {
  color: #5ED7C6;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
  width: 75%;
  text-align: center;
}

.trending-topics {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.logo {
  cursor: pointer;
}

.icons:hover {
  display: block;
}

.crear-gifos {
  display: none;
  flex-direction: column;
}

.crear-gifos1 {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}

.cuadrado-pantalla {
  width: 688px;
  height: 390px;
  border: 1px solid #572EE5;
  position: relative;

  background:
  linear-gradient(to right, #5ED7C6 1px, transparent 1px) 3% 5%,
  linear-gradient(to right, #5ED7C6 1px, transparent 1px) 3% 95%,
  linear-gradient(to left, #5ED7C6 1px, transparent 1px) 97% 5%,
  linear-gradient(to left, #5ED7C6 1px, transparent 1px) 97% 95%,
  linear-gradient(to bottom, #5ED7C6 1px, transparent 1px) 3% 5%,
  linear-gradient(to bottom, #5ED7C6 1px, transparent 1px) 97% 5%,
  linear-gradient(to top, #5ED7C6 1px, transparent 1px) 3% 95%,
  linear-gradient(to top, #5ED7C6 1px, transparent 1px) 97% 95%;

  background-repeat: no-repeat;
  background-size: 20px 20px;


}


.camara {
  display: flex;
  flex-direction: row;
}

.cinta {
  margin-top: 390px;
}

.crear-gifos2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}

.linea {
  width: 795px;
  border-bottom: 3px solid #572EE5;
}

.footer-gifos2 {
  display: grid;
  width: 795px;
  grid-template-columns: repeat(3, [col] 33.3%);
  grid-template-rows: repeat(1, [row] auto);
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.contador {
  cursor: pointer;
  display: none;
  color: #572EE5;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: bold;
  justify-self: right;
}

.numeros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
  justify-self: center;
}

.boton-crear {
  font-family: "Montserrat";
  font-weight: bold;
  color: #572EE5;
  border: 1px solid #572EE5;
  border-radius: 25px;
  background-color: white;
  width: 100px;
  height: 50px;
}

.boton-crear:hover {
  background-color: #572EE5;
  color: white;
  cursor: pointer;
}

.paso-cero-heading {
  color: #572EE5;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 25px;
}

.paso-cero-word {
  color: #5ED7C6;
}

.paso-cero-text {
  color: black;
  font-family: "Roboto";
  font-size: 16px;
}

.preview-image {
  display: none;
}

.textos-pantalla {
  display: none;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}

.textos-pantalla-2 {
  display: none;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}

.pantalla {
  display: none;
  align-self: center;
  height: 370px;
  align-content: center;
  justify-content: center;
}

.container-pantalla {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-image {
  z-index: 0;
  position: relative;
}

.purple-overlay {
  background-color: #572EE5;
  width: 430px;
  height: 370px;
  align-self: center;
  z-index: 10;
  position: absolute;
  opacity: 0.6;
  display: none;
}

.loading {
  display: none;
}

.loading-text {
  margin-top: 10px;
  display: none;
  color: white;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: bold;
}

.loader {
  display: flex;
  flex-direction: column;
  z-index: 15;
  position: absolute;
}

.myGifos-section {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 0px;
}

.myGifos-title {
  color: #572EE5;
  font-family: "Montserrat";
  font-weight: bold;
}

.myGifos-carrousel {
  display: grid;
  grid-template-columns: repeat(2, [col] auto);
  grid-template-rows: repeat(6, [row] auto);
  justify-content: space-around;
  align-content: space-around;
}

.empty-myGifos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 70px;
}

@media (min-width: 835px) {
  .header nav ul li {
    background-color: white;
    float: left;
  }

  .menu-ul li a {
    color: #572EE5;
    border: none;
  }

  .menu-icon {
    display: none;
  }

  .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .menu-ul {
    max-height: none;
  }

  .crear {
    display: inline;
  }

  .search {
    width: 500px;
  }

  .search-results {
    display: grid;
    grid-template-columns: repeat(4, [col] auto);
    grid-template-rows: repeat(3, [row] auto);
  }

  .searched-gif {
    width: 260px;
    height: 200px;
  }

  .search-suggestions {
    width: 500px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .redes {
    display: flex;
    flex-direction: row;
  }

  .redes-icons {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .favourites-carrousel {
    display: grid;
    grid-template-columns: repeat(4, [col] auto);
    grid-template-rows: repeat(3, [row] auto);
  }

  .pop-up-image {
    width: 30%;
  }

  .trending-y:hover > .icons {
    display: flex;
  }
}
@media (min-width: 1152px) {
  .trending-gif {
    width: 357px;
    height: 275px;
  }

  .icons {
    margin-top: -260px;
    margin-left: 250px;
  }

  .overlay {
    width: 357px;
    height: 275px;
    margin-top: -277px;
  }
}
@media (max-width: 320px) {
  .illustration {
    width: 250px;
  }

  .search {
    width: 250px;
  }
}