@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;600&display=swap");

$primary: #572EE5;
$secondary: #5ED7C6;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    overflow-x: hidden;
  }
  
  header {
      height: 300px;
      nav{
          ul{
              list-style: none;
              overflow: hidden;
              li{
                  font-family: "Montserrat";
                  font-weight: bold;
                  font-size: 16px;
                  padding: 6px;
                  color: white;
                  background-color: $primary;
                  text-align: center;
                  margin: 20px 10px 20px 10px;
                 
                  
  
                  a{
                      color: white;
                      text-decoration: none;
                      border-bottom: 1px white solid;
                      padding: 10px 0px 10px 0px;
                      
                      
                  }
              }
          }
      }
     
  }
  .logo{
      margin: 20px;
      width: 49px;
  }
  .menu-ul {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  .menu-icon {
    margin: 15px;
    float: right;
    cursor: pointer;
    position: relative;
    user-select: none;
  }
  
  .nav-icon {
    background: $primary;
    display: block;
    height: 2px;
    position: relative;
    transition: background .3s ease-out;
    width: 18px;
  }
    
  .nav-icon:before, .nav-icon:after {
    background: $primary;
    content: '';
    display: inline-block;
    height: 100%;
    position: absolute;
    transition: all .3s ease-out;
    width: 100%;
  }
    
  .nav-icon:before {
    top: 5px;
  }
    
  .nav-icon:after {
    top: -5px;
  }
    
  .menu-btn {
    display: none;
  }
    
  .menu-btn:checked ~ .menu .menu-ul {
    max-height: 240px;
    background-color: $primary;
  }
    
  .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
    
  .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
  }
    
  .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
  }
.crear{
    margin: 10px 10px 10px 10px;
    display: none;
}

.search-section{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
}

h1{
    color: $primary;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 35px;
}

.gifos{
    color: $secondary;
}

.search{
    background: url(../../images/icon-search.svg) no-repeat right 10px center;
    width: 300px;
    border-radius: 15px;
    border: 1px $primary solid;
    height: 50px;    
}


.trending-topics-header {
  color: $primary;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  margin-top: 60px;
  text-align: center;
}

.trending-topics {
  color: $primary;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-bottom: 100px;
}

.trending {
  background-color: #F3F5F8;
  height: 430px;
  width: 100%;
}

.trending-gifs-header {
  color: $primary;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
}

.trending-gifs-text {
  color: #000000;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.trending-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.trending-carrousel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.trending-gif{
  background-color: $primary;
  width: 243px;
  height: 187px;
  align-self: center;
  margin-top:40px;
  z-index: 0;
  position:relative;
}

.overlay{
  background-color: $primary;
  width: 243px;
  height: 187px;
  align-self: center;
  margin-top:-190px;
  z-index: 100;
  position:relative;
  opacity: 0.7;
  display: none;
}

.favourite{
  z-index:5;
  position: relative;
}

.download{
  z-index:15;
  position: relative;
}

.max{
  z-index:25;
  position: relative;
}

.icons{
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -180px;
  margin-left: 130px;
  position: absolute;
  z-index: 50;
  cursor: pointer;
}

.popup {
  text-align: center;
  width: 100%;
  background: white;
  padding: 20px;
  position: relative;
}

.popup-close {
  color: $primary;
  font-family: "Montserrat";
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 30px;
}

.popup-wrapper{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.pop-up-image{
  width: 50%;
}


.popup-content{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.popup-footer{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-items: space-around;
}

.pop-up-icons{
display: flex;
flex-direction: row;
}

.pop-up-data{
display: flex;
flex-direction: column;
align-content: left;
justify-items: left;
justify-content: left;
}

.searched-gif {
width: 156px;
height: 120px;
align-self: center;
position: relative;
z-index: 0;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(2, [col] auto);
  grid-template-rows: repeat(6, [row] auto);
  justify-content: space-around;
  align-content: space-around;
}

.search-suggestions {
  color: #9CAFC3;
  font-family: 'Roboto';
  text-align: left;
  width: 300px;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
}

.topic {
margin-bottom: 20px 
}

.no-results {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no-results-title {
font-family: "Montserrat";
color: $primary;
font-weight: bold;
margin-bottom: 10px;
font-size: 30px;
}

.no-results-text {
font-family: "Montserrat";
font-weight: bold;
color: $secondary;
font-size: 22px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redes {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-size: 13px;
  margin-left: 30px;
  margin-top: 10px;
}

.redes-icons {
  margin-top: 30px;
  margin-bottom: 30px;
}

.facebook {
  margin-left: 10px;
  margin-right: 10px;
}

.twitter {
  margin-left: 10px;
  margin-right: 10px
}

.instagram {
  margin-left: 10px;
}

.copyright {
  font-family: "Roboto";
  font-size: 13px;
  margin-right: 30px;
}

.see-more-area {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-self: center;
}

.favourite-active{
  margin-top: 5px;
}

.favorites-section{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 0px;
}

.favoritos-title{
  color: $primary;
  font-family: "Montserrat";
  font-weight: bold;
}

.favourites-carrousel {
  display: grid;
  grid-template-columns: repeat(2, [col] auto);
  grid-template-rows: repeat(6, [row] auto);
  justify-content: space-around;
  align-content: space-around;
}

.empty-fav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 70px;
}

.empty-message{
  color: $secondary;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
  width: 75%;
  text-align: center;
}

.trending-topics {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.logo {
  cursor: pointer;
}

.crear-gifos {
  display:none;
  flex-direction: column;
}

.crear-gifos1 {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}

.cuadrado-pantalla{
  width: 688px;
  height: 390px;
  border: 1px solid $primary;
}

.camara {
  display:flex;
  flex-direction: row;
}

.cinta {
  margin-top: 390px;
}

.crear-gifos2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 130px;        
} 

.linea{
  width: 795px;
  border-bottom: 3px solid $primary
}

.numeros{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
}

.boton-crear{
  font-family: "Montserrat";
  font-weight: bold;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 25px;
  background-color: white;
  width: 100px;
  height: 50px;
}

.boton-crear:hover{
  background-color: $primary;
  color: white;
  cursor: pointer;
}

.paso-cero-heading{
  color: $primary;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 25px;
}

.paso-cero-word{
  color:$secondary;
}

.paso-cero-text{
  color: black;
  font-family: "Roboto";
  font-size: 16px;
}

.textos-pantalla{
  display:none;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}

.textos-pantalla-2{
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

.pantalla{
  display:none;
  align-self:center;
  height: 370px;
  align-content: center;
  justify-content: center;
}

.container-pantalla{
  display: flex;
  align-items: center;
  justify-content: center;
}


  @media (min-width: 835px) {

    .header nav ul li{
      background-color: white;
      float: left;
      
    }
    
    .menu-ul li a {
      color: $primary;
      border: none;
    }
    .menu-icon {
      display: none;
    }
  
    .menu {
      clear: none;
      float: right;
      max-height: none; 
      
    }
  
    .menu-ul {
      max-height: none;
      
    }
    .crear{
        display: inline
    }
    .search {
        width: 500px;
    }

    .search-results {
      display: grid;
      grid-template-columns: repeat(4, [col] auto);
      grid-template-rows: repeat(3, [row] auto);
    
    }
    .searched-gif {
      width: 260px;
      height: 200px;
      }

      .search-suggestions {
        width: 500px
      }

      footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .redes {
        display: flex;
        flex-direction: row;
      }

      .redes-icons {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .favourites-carrousel {
        display: grid;
        grid-template-columns: repeat(4, [col] auto);
        grid-template-rows: repeat(3, [row] auto);
      }
      .pop-up-image{
        width: 30%;
      }

}
@media (min-width: 1152px){
  .trending-gif {
    width: 357px;
    height: 275px; 
  }

  .icons {
    margin-top: -260px;
    margin-left: 250px;
  }

  .overlay {
    width: 357px;
    height: 275px;
    margin-top:-277px; 
  }
}


@media (max-width: 320px){
    .illustration{
        width: 250px;
    }

    .search{
        width:250px;
    }
}